.head_box{
    position: relative;
}

.head_icon{
    padding-top: 100px;
    width: 100%;
}

@media (min-width: 700px) {
    .head_font {
        position: absolute;
        top:40%;
        left: 10%;
        color: #fff;
        font-size: 60px;
        font-weight: 200;
    }
}

@media (max-width: 700px) {
    .head_font {
        border-bottom: solid 2px black;
        margin: 10px;
        font-size: 20px;
    }
}

.body_all {
    margin: 40px 20px 20px 20px;
}

.main_box {
    margin: 10px;
    position: relative;
   
}

.sigh {
   position: absolute;
   right: 0;
   margin: 20px;
}