.all {
    margin: 0 20px 70px 20px;
    padding: 50px 0 0 0;
    position: relative;
}

.head {
    border-bottom: solid 2px black;
    font-size: 20px;
    margin: 0 0 30px 0;
}

.main_box {
    margin: 10px;
    position: relative;
   
}

.sigh {
   position: absolute;
   right: 0;
   margin: 20px;
}