.all {
  background-color: #fff;
}

.footer_box {
  display: flex;
  padding: 20px;
}

.logo {
  width: 200px;
  margin: 5px;
}

.about_us_box {
  margin: 10px;
}

.top_font {
border-bottom: solid 1px;
}

.link_font {
  font-size: 12px;
}

.link_font:hover {
  color: #666666;
  background-color: #f0f0f0;
  transition: background-color 1s,
}


