.head_box{
    position: relative;
}

.head_icon{
    padding-top: 100px;
    width: 100%;
    height: 400px;
}

.head_font {
    position: absolute;
    top:40%;
    left: 5%;
    font-size: 50px;
}

.body_all {
    margin: 20px 20px 70px 20px;
    position: relative;
}

.form_all{
    margin: 15px;
}

.form_box{
    margin: 20px;
}

.form{
    color: #fff;
}